@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin:0;
}

/* Start Header */
header{
    height:100vh;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    background-image: url(../assets/img/etc/cover.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    position: relative;
}

/* Start Navbar */
.navbar{
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.5));
    padding: 20px 30px;

    transition:all 0.7s;
}
.navmenus{
    background:linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.7));
    padding: 5px 30px;

    transition: color 0.5s;
}
.navmenus:hover{
    color:#1a99e8;
}
.lines1,.lines2,.lines3{
    width: 23px;
    height: 3px;
    margin:5px;

    transition: all 0.4s;
}
.changes .lines1{
     transform: rotate(-45deg) translate(-5px,6px);
}
.changes .lines2{
 opacity: 0;
}
.changes .lines3{
    transform: rotate(45deg) translate(-5px,-6px);
}
/* End Navbar */

/* Start Banner */
.banners{
    width: 80%;
    position: absolute;
    top:50%;
    left: 50%;

    transform: translate(-50%,-50%);
}
.bannerheaders{
    animation-name:bani;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: backwards;
}
.bannerparagraphs{
    animation-name:bani;
    animation-timing-function: linear;
    animation-duration: 2s;
    animation-fill-mode: backwards;
   
    animation-delay: 0.5s;
}
@keyframes  bani {
    from{
        transform: translate(-100px);
        opacity: 0;
    }
    to{
        transform: translate(0px);
        opacity: 1;
    }
    
}
/* End Banner */
/* End Header */

/* Start Mission Section */
.missions{
    background: #085044;
}
.underlines{
    width: 150px;
    border:3px solid #eee;
    margin: auto;
}


.cameraimgs.fromlefts{
    animation-name: myanifromleft;
    animation-duration: 3s;
    animation-timing-function: linear;
    
}
.missiontexts.fromrights{
    animation-name: myanifromright;
    animation-duration: 3s;
    animation-timing-function: linear;
}
@keyframes  myanifromleft{
    0%{
        transform: translateX(-120px);
        opacity: 0;
    }
    100%{
        transform:translateX(0);
        opacity: 1;

    }
}
@keyframes  myanifromright{
    0%{
        transform: translate(30px);
        opacity: 0;
    }
    100%{
        transform:translate(0);
        opacity: 1;

    }
}
/* End Mission Section */


/* Start Collection Section */
.card{
    position:relative;
}
.cardshadows{
   box-shadow: 5px 8px 20px #444;;
}
.headings{
    width:70%;
    background-color: #122;
    font-size: 14px;
    letter-spacing: 1px;
    cursor:pointer;

    position: absolute;
    top:70%;
    right:0;

    opacity:0.7;
    transition: all 0.5s;
}
.headings:hover{
    opacity:1;
}
/* End Collection Section */

/* Start Galley section */
.darkunderlines{
    width: 150px;
    border:3px solid #aaa;
    margin: auto;
}
.gallerylists{
    color:#777;
    cursor:pointer;
}
.gallerylists.activeitems{
    color:#06b7bd;
}
/* End Galley section */

/* Start Customer section */
.customers{
    background-color:#17111f;
}

/* Endd Customer Section */
